In [50]:
%pip install pandas
%pip install requests

Requirement already satisfied: pandas in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: requests in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in d:\depi data engineering\graduation project\graduationproject\lib\site-packages (from requests) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import pandas as pd 

sales_person = pd.read_json(r"C:\Users\Abdo\Desktop\Graduation_project\data source\salesPerson(2).json")

In [25]:
sales_person

,sales_person_id,first_name,last_name,age,email,country,city,postal_code,commission_rate,sales_target,product_category,payment_method,hire_date
0,1,Filia,Spall,82,fspall0@lycos.com,Tanzania,Geita,None,3.79,235567.38,electronics,cash,11/22/2020
1,2,Egan,Stedall,33,estedall1@photobucket.com,China,Beipai,None,85.15,144102.18,home goods,PayPal,8/25/2023
2,3,Jeddy,Trathen,32,jtrathen2@bloglines.com,Greece,Maroúsi,None,98.29,50536.63,electronics,PayPal,6/24/2024
3,4,Brig,Goodere,24,bgoodere3@acquirethisname.com,Indonesia,Banyubang,None,97.00,12338.99,toys,credit card,11/2/2020
4,5,Rich,Marquot,65,rmarquot4@sphinn.com,Portugal,Monte de Fralães,4775-174,95.11,190112.01,home goods,PayPal,12/22/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Fred,Hegdonne,28,fhegdonnern@deliciousdays.com,Ivory Coast,Korhogo,None,35.33,245833.76,home goods,credit card,9/3/2021
996,997,Aggy,Le Claire,83,aleclairero@de.vu,Guatemala,Puerto Barrios,18001,28.07,238678.14,kitchen tools,PayPal,12/25/2021
997,998,Normand,Manwell,74,nmanwellrp@webeden.co.uk,South Korea,Chinch'ŏn,None,62.93,293164.36,electronics,PayPal,10/23/2023
998,999,Dyana,Hubbart,38,dhubbartrq@360.cn,China,Zhanghuban,None,32.81,202940.53,Accessories,cash,4/13/2021
999,1000,Melania,Proschke,28,mproschkerr@furl.net,China,Yingyang,None,93.21,190144.77,home goods,cash,7/1/2021

In [26]:
sales_person.dtypes

sales_person_id       int64
first_name           object
last_name            object
age                   int64
email                object
country              object
city                 object
postal_code          object
commission_rate     float64
sales_target        float64
product_category     object
payment_method       object
hire_date            object
dtype: object

In [54]:
# import requests

# def get_postal_code(city, country):
#     try:
#         headers = {
#         'User-Agent': 'vs code (mohamedetaui03@gmail.com)'
#         }
#         url = f"https://nominatim.openstreetmap.org/search?city={city}&country={country}&format=json"
#         response = requests.get(url, headers= headers).json()
#         if response and 'address' in response[0]:
#             return response[0]['address'].get('postcode', None)
#     except Exception as e:
#         print(f"Error fetching postal code for {city}, {country}: {e}")
#     return None

# def fill_missing_postal_codes(sales_person):
#     for index, row in sales_person.iterrows():
#         if pd.isnull(row['postal_code']):
#             country = row['country']  
#             city = row['city']
#             postal_code = get_postal_code(city, country)
#             if postal_code:
#                 sales_person.at[index, 'postal_code'] = postal_code
#                 print(f"Updated postal code for {city}, {row['country']}: {postal_code}")
#             else:
#                 print(f"No postal code found for {city}, {row['country']}")
#     return sales_person

# sales_person = fill_missing_postal_codes(sales_person)

In [27]:
sales_person.loc[(sales_person['postal_code'].isnull()), 'postal_code'] = 'unkown'

In [28]:
sales_person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sales_person_id   1000 non-null   int64
 1   first_name        1000 non-null   object
 2   last_name         1000 non-null   object
 3   age               1000 non-null   int64
 4   email             1000 non-null   object
 5   country           1000 non-null   object
 6   city              1000 non-null   object
 7   postal_code       1000 non-null   object
 8   commission_rate   1000 non-null   float64
 9   sales_target      1000 non-null   float64
 10  product_category  1000 non-null   object
 11  payment_method    1000 non-null   object
 12  hire_date         1000 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 101.7+ KB

In [29]:
hire_date = sales_person.pop('hire_date')

sales_person.insert(4 ,'hire_date' ,hire_date)

sales_person

,sales_person_id,first_name,last_name,age,hire_date,email,country,city,postal_code,commission_rate,sales_target,product_category,payment_method
0,1,Filia,Spall,82,11/22/2020,fspall0@lycos.com,Tanzania,Geita,unkown,3.79,235567.38,electronics,cash
1,2,Egan,Stedall,33,8/25/2023,estedall1@photobucket.com,China,Beipai,unkown,85.15,144102.18,home goods,PayPal
2,3,Jeddy,Trathen,32,6/24/2024,jtrathen2@bloglines.com,Greece,Maroúsi,unkown,98.29,50536.63,electronics,PayPal
3,4,Brig,Goodere,24,11/2/2020,bgoodere3@acquirethisname.com,Indonesia,Banyubang,unkown,97.00,12338.99,toys,credit card
4,5,Rich,Marquot,65,12/22/2021,rmarquot4@sphinn.com,Portugal,Monte de Fralães,4775-174,95.11,190112.01,home goods,PayPal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Fred,Hegdonne,28,9/3/2021,fhegdonnern@deliciousdays.com,Ivory Coast,Korhogo,unkown,35.33,245833.76,home goods,credit card
996,997,Aggy,Le Claire,83,12/25/2021,aleclairero@de.vu,Guatemala,Puerto Barrios,18001,28.07,238678.14,kitchen tools,PayPal
997,998,Normand,Manwell,74,10/23/2023,nmanwellrp@webeden.co.uk,South Korea,Chinch'ŏn,unkown,62.93,293164.36,electronics,PayPal
998,999,Dyana,Hubbart,38,4/13/2021,dhubbartrq@360.cn,China,Zhanghuban,unkown,32.81,202940.53,Accessories,cash
999,1000,Melania,Proschke,28,7/1/2021,mproschkerr@furl.net,China,Yingyang,unkown,93.21,190144.77,home goods,cash

In [30]:
# delete hire colu because it have so issues 
sales_person.drop(columns=['hire_date'],inplace=True)

sales_person

,sales_person_id,first_name,last_name,age,email,country,city,postal_code,commission_rate,sales_target,product_category,payment_method
0,1,Filia,Spall,82,fspall0@lycos.com,Tanzania,Geita,unkown,3.79,235567.38,electronics,cash
1,2,Egan,Stedall,33,estedall1@photobucket.com,China,Beipai,unkown,85.15,144102.18,home goods,PayPal
2,3,Jeddy,Trathen,32,jtrathen2@bloglines.com,Greece,Maroúsi,unkown,98.29,50536.63,electronics,PayPal
3,4,Brig,Goodere,24,bgoodere3@acquirethisname.com,Indonesia,Banyubang,unkown,97.00,12338.99,toys,credit card
4,5,Rich,Marquot,65,rmarquot4@sphinn.com,Portugal,Monte de Fralães,4775-174,95.11,190112.01,home goods,PayPal
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Fred,Hegdonne,28,fhegdonnern@deliciousdays.com,Ivory Coast,Korhogo,unkown,35.33,245833.76,home goods,credit card
996,997,Aggy,Le Claire,83,aleclairero@de.vu,Guatemala,Puerto Barrios,18001,28.07,238678.14,kitchen tools,PayPal
997,998,Normand,Manwell,74,nmanwellrp@webeden.co.uk,South Korea,Chinch'ŏn,unkown,62.93,293164.36,electronics,PayPal
998,999,Dyana,Hubbart,38,dhubbartrq@360.cn,China,Zhanghuban,unkown,32.81,202940.53,Accessories,cash
999,1000,Melania,Proschke,28,mproschkerr@furl.net,China,Yingyang,unkown,93.21,190144.77,home goods,cash

In [31]:
import numpy as np

np.random.seed(0)

sales_person['commission_rate'] = np.random.uniform(0, 20, size=len(sales_person))
sales_person['commission_rate'] = sales_person['commission_rate'].astype(int)
sales_person

,sales_person_id,first_name,last_name,age,email,country,city,postal_code,commission_rate,sales_target,product_category,payment_method
0,1,Filia,Spall,82,fspall0@lycos.com,Tanzania,Geita,unkown,10,235567.38,electronics,cash
1,2,Egan,Stedall,33,estedall1@photobucket.com,China,Beipai,unkown,14,144102.18,home goods,PayPal
2,3,Jeddy,Trathen,32,jtrathen2@bloglines.com,Greece,Maroúsi,unkown,12,50536.63,electronics,PayPal
3,4,Brig,Goodere,24,bgoodere3@acquirethisname.com,Indonesia,Banyubang,unkown,10,12338.99,toys,credit card
4,5,Rich,Marquot,65,rmarquot4@sphinn.com,Portugal,Monte de Fralães,4775-174,8,190112.01,home goods,PayPal
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Fred,Hegdonne,28,fhegdonnern@deliciousdays.com,Ivory Coast,Korhogo,unkown,1,245833.76,home goods,credit card
996,997,Aggy,Le Claire,83,aleclairero@de.vu,Guatemala,Puerto Barrios,18001,10,238678.14,kitchen tools,PayPal
997,998,Normand,Manwell,74,nmanwellrp@webeden.co.uk,South Korea,Chinch'ŏn,unkown,18,293164.36,electronics,PayPal
998,999,Dyana,Hubbart,38,dhubbartrq@360.cn,China,Zhanghuban,unkown,4,202940.53,Accessories,cash
999,1000,Melania,Proschke,28,mproschkerr@furl.net,China,Yingyang,unkown,13,190144.77,home goods,cash

In [32]:
sales_person = sales_person.rename(columns = {'sales_target': 'total_sales'})

In [33]:
sales_person['commission_earned'] = sales_person['commission_rate'] * sales_person['total_sales'] / 100
sales_person['target_met'] = sales_person['total_sales'] >= 120000

In [34]:
sales_person

,sales_person_id,first_name,last_name,age,email,country,city,postal_code,commission_rate,total_sales,product_category,payment_method,commission_earned,target_met
0,1,Filia,Spall,82,fspall0@lycos.com,Tanzania,Geita,unkown,10,235567.38,electronics,cash,23556.7380,True
1,2,Egan,Stedall,33,estedall1@photobucket.com,China,Beipai,unkown,14,144102.18,home goods,PayPal,20174.3052,True
2,3,Jeddy,Trathen,32,jtrathen2@bloglines.com,Greece,Maroúsi,unkown,12,50536.63,electronics,PayPal,6064.3956,False
3,4,Brig,Goodere,24,bgoodere3@acquirethisname.com,Indonesia,Banyubang,unkown,10,12338.99,toys,credit card,1233.8990,False
4,5,Rich,Marquot,65,rmarquot4@sphinn.com,Portugal,Monte de Fralães,4775-174,8,190112.01,home goods,PayPal,15208.9608,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Fred,Hegdonne,28,fhegdonnern@deliciousdays.com,Ivory Coast,Korhogo,unkown,1,245833.76,home goods,credit card,2458.3376,True
996,997,Aggy,Le Claire,83,aleclairero@de.vu,Guatemala,Puerto Barrios,18001,10,238678.14,kitchen tools,PayPal,23867.8140,True
997,998,Normand,Manwell,74,nmanwellrp@webeden.co.uk,South Korea,Chinch'ŏn,unkown,18,293164.36,electronics,PayPal,52769.5848,True
998,999,Dyana,Hubbart,38,dhubbartrq@360.cn,China,Zhanghuban,unkown,4,202940.53,Accessories,cash,8117.6212,True
999,1000,Melania,Proschke,28,mproschkerr@furl.net,China,Yingyang,unkown,13,190144.77,home goods,cash,24718.8201,True

In [35]:
commission_earrned = sales_person.pop('commission_earned')

sales_person.insert(11, 'commission_earned', commission_earrned)

target_met = sales_person.pop('target_met')

sales_person.insert(12, 'target_met', target_met)

sales_person

,sales_person_id,first_name,last_name,age,email,country,city,postal_code,commission_rate,total_sales,product_category,commission_earned,target_met,payment_method
0,1,Filia,Spall,82,fspall0@lycos.com,Tanzania,Geita,unkown,10,235567.38,electronics,23556.7380,True,cash
1,2,Egan,Stedall,33,estedall1@photobucket.com,China,Beipai,unkown,14,144102.18,home goods,20174.3052,True,PayPal
2,3,Jeddy,Trathen,32,jtrathen2@bloglines.com,Greece,Maroúsi,unkown,12,50536.63,electronics,6064.3956,False,PayPal
3,4,Brig,Goodere,24,bgoodere3@acquirethisname.com,Indonesia,Banyubang,unkown,10,12338.99,toys,1233.8990,False,credit card
4,5,Rich,Marquot,65,rmarquot4@sphinn.com,Portugal,Monte de Fralães,4775-174,8,190112.01,home goods,15208.9608,True,PayPal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Fred,Hegdonne,28,fhegdonnern@deliciousdays.com,Ivory Coast,Korhogo,unkown,1,245833.76,home goods,2458.3376,True,credit card
996,997,Aggy,Le Claire,83,aleclairero@de.vu,Guatemala,Puerto Barrios,18001,10,238678.14,kitchen tools,23867.8140,True,PayPal
997,998,Normand,Manwell,74,nmanwellrp@webeden.co.uk,South Korea,Chinch'ŏn,unkown,18,293164.36,electronics,52769.5848,True,PayPal
998,999,Dyana,Hubbart,38,dhubbartrq@360.cn,China,Zhanghuban,unkown,4,202940.53,Accessories,8117.6212,True,cash
999,1000,Melania,Proschke,28,mproschkerr@furl.net,China,Yingyang,unkown,13,190144.77,home goods,24718.8201,True,cash

In [36]:
sales_person.to_json('sales person dimension.json', orient='records', indent=4)

In [15]:
# Check for duplicate sales_person_id
duplicates = sales_person[sales_person.duplicated(subset=['sales_person_id'], keep=False)]

# Display the duplicate rows
if not duplicates.empty:
    print("Duplicate sales_person_id found:")
    print(duplicates)
else:
    print("No duplicate sales_person_id found.")

No duplicate sales_person_id found.

In [22]:
sales_person.to_csv('sales person dimension.csv',index=False)