# look at data

In [1]:
import pandas as pd

In [3]:

df=pd.read_csv(r"C:\Users\Abdo\Desktop\Graduation_project\data source\customer dimension.txt",delimiter='\t')
df.index+=1
df

,customer_id,first_name,last_name,age,email,gender,membership_status,join_date,country,phone_number
1,1,Kelli,Humblestone,40,khumblestone0@blogtalkradio.com,Female,active,8/14/2011,Germany,+49 583 527 3654
2,2,Layne,Haddacks,19,lhaddacks1@goodreads.com,Genderqueer,active,9/9/2022,Japan,+81 433 350 2625
3,3,Rabi,Oglethorpe,25,roglethorpe2@zdnet.com,Male,active,NaN,Cameroon,+237 636 364 8625
4,4,Kameko,McCathie,45,kmccathie3@t.co,Female,active,5/29/2021,Canada,+1 437 325 0186
5,5,Clerkclaude,Lambersen,57,clambersen4@uol.com.br,Male,pending,8/29/2019,Japan,+81 923 285 0143
...,...,...,...,...,...,...,...,...,...,...
996,996,Vince,Knudsen,48,vknudsenrn@fotki.com,Male,NaN,12/7/2015,Japan,+81 115 458 2827
997,997,Clint,MacGuigan,45,cmacguiganro@flickr.com,Male,NaN,9/12/2014,Japan,+81 327 125 4085
998,998,Gerek,Lantuff,67,glantuffrp@liveinternet.ru,Male,pending,2/21/2014,Japan,+81 986 365 9658
999,999,Nickie,Nornasell,41,nnornasellrq@jalbum.net,Female,inactive,11/17/2011,Saudi Arabia,+966 521 291 9059
1000,1000,Carolee,Muttock,37,cmuttockrr@icio.us,Female,inactive,5/3/2020,Japan,+81 651 337 9737

In [4]:
df.isna().sum()

customer_id            0
first_name             0
last_name              0
age                    0
email                  0
gender                 0
membership_status    244
join_date             63
country                0
phone_number           0
dtype: int64

In [5]:
df.count()

customer_id          1000
first_name           1000
last_name            1000
age                  1000
email                1000
gender               1000
membership_status     756
join_date             937
country              1000
phone_number         1000
dtype: int64

# clean  membership_status  attribute

In [6]:
import numpy as np
# to determine the unique value
df['membership_status'].unique() 

#replacr and clean data 
replace=['active','pending','inactive']

uum_nulls=df['membership_status'].isna().sum()
print(f'number of nulls before cleaning: {uum_nulls}')

num_null=df['membership_status'].isna()
df.loc[num_null,'membership_status']=np.random.choice(replace,size=uum_nulls)


uum_nulls=df['membership_status'].isna().sum()
print(f'number of nulls after cleaning : {uum_nulls}')


df.isna().sum()

number of nulls before cleaning: 244
number of nulls after cleaning : 0

customer_id           0
first_name            0
last_name             0
age                   0
email                 0
gender                0
membership_status     0
join_date            63
country               0
phone_number          0
dtype: int64

In [8]:

print(df['membership_status'].unique())
df.isna().sum()

['active' 'pending' 'inactive']

customer_id           0
first_name            0
last_name             0
age                   0
email                 0
gender                0
membership_status     0
join_date            63
country               0
phone_number          0
dtype: int64

# clean join_date attribute

In [9]:

# to get this method random.choice
import numpy as np

#to show unique value 
df['join_date'].unique() # only one 

# Choices to replace NaN values
choices = ["11/19/2023", "8/17/2020", "5/3/2020","28/9/2024"]

# Count the number of null values in the branch_name column
num_nulls = df['join_date'].isna().sum()
print("Number of nulls before:", num_nulls)

# Create a mask for NaN values
nan_mask = df['join_date'].isna()

# Fill NaN values in branch_name with random choices
df.loc[nan_mask, 'join_date'] = np.random.choice(choices, size=num_nulls)

# Verify the replacement
num_nulls = df['join_date'].isna().sum()
print("Number of nulls after:", num_nulls)

# Display the updated DataFrame
df

Number of nulls before: 63
Number of nulls after: 0

,customer_id,first_name,last_name,age,email,gender,membership_status,join_date,country,phone_number
1,1,Kelli,Humblestone,40,khumblestone0@blogtalkradio.com,Female,active,8/14/2011,Germany,+49 583 527 3654
2,2,Layne,Haddacks,19,lhaddacks1@goodreads.com,Genderqueer,active,9/9/2022,Japan,+81 433 350 2625
3,3,Rabi,Oglethorpe,25,roglethorpe2@zdnet.com,Male,active,8/17/2020,Cameroon,+237 636 364 8625
4,4,Kameko,McCathie,45,kmccathie3@t.co,Female,active,5/29/2021,Canada,+1 437 325 0186
5,5,Clerkclaude,Lambersen,57,clambersen4@uol.com.br,Male,pending,8/29/2019,Japan,+81 923 285 0143
...,...,...,...,...,...,...,...,...,...,...
996,996,Vince,Knudsen,48,vknudsenrn@fotki.com,Male,pending,12/7/2015,Japan,+81 115 458 2827
997,997,Clint,MacGuigan,45,cmacguiganro@flickr.com,Male,pending,9/12/2014,Japan,+81 327 125 4085
998,998,Gerek,Lantuff,67,glantuffrp@liveinternet.ru,Male,pending,2/21/2014,Japan,+81 986 365 9658
999,999,Nickie,Nornasell,41,nnornasellrq@jalbum.net,Female,inactive,11/17/2011,Saudi Arabia,+966 521 291 9059
1000,1000,Carolee,Muttock,37,cmuttockrr@icio.us,Female,inactive,5/3/2020,Japan,+81 651 337 9737

In [10]:
# Splitting into Day, Month, and Year
# Split the join_date column into day, month, and year
df[['month', 'day', 'year']] = df['join_date'].str.split('/', expand=True)

# Display the dataframe with day, month, and year
print(df[['join_date', 'day', 'month', 'year']])
df

       join_date day month  year
1      8/14/2011  14     8  2011
2       9/9/2022   9     9  2022
3      8/17/2020  17     8  2020
4      5/29/2021  29     5  2021
5      8/29/2019  29     8  2019
...          ...  ..   ...   ...
996    12/7/2015   7    12  2015
997    9/12/2014  12     9  2014
998    2/21/2014  21     2  2014
999   11/17/2011  17    11  2011
1000    5/3/2020   3     5  2020

[1000 rows x 4 columns]

,customer_id,first_name,last_name,age,email,gender,membership_status,join_date,country,phone_number,month,day,year
1,1,Kelli,Humblestone,40,khumblestone0@blogtalkradio.com,Female,active,8/14/2011,Germany,+49 583 527 3654,8,14,2011
2,2,Layne,Haddacks,19,lhaddacks1@goodreads.com,Genderqueer,active,9/9/2022,Japan,+81 433 350 2625,9,9,2022
3,3,Rabi,Oglethorpe,25,roglethorpe2@zdnet.com,Male,active,8/17/2020,Cameroon,+237 636 364 8625,8,17,2020
4,4,Kameko,McCathie,45,kmccathie3@t.co,Female,active,5/29/2021,Canada,+1 437 325 0186,5,29,2021
5,5,Clerkclaude,Lambersen,57,clambersen4@uol.com.br,Male,pending,8/29/2019,Japan,+81 923 285 0143,8,29,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,996,Vince,Knudsen,48,vknudsenrn@fotki.com,Male,pending,12/7/2015,Japan,+81 115 458 2827,12,7,2015
997,997,Clint,MacGuigan,45,cmacguiganro@flickr.com,Male,pending,9/12/2014,Japan,+81 327 125 4085,9,12,2014
998,998,Gerek,Lantuff,67,glantuffrp@liveinternet.ru,Male,pending,2/21/2014,Japan,+81 986 365 9658,2,21,2014
999,999,Nickie,Nornasell,41,nnornasellrq@jalbum.net,Female,inactive,11/17/2011,Saudi Arabia,+966 521 291 9059,11,17,2011
1000,1000,Carolee,Muttock,37,cmuttockrr@icio.us,Female,inactive,5/3/2020,Japan,+81 651 337 9737,5,3,2020

In [11]:
# ensure data is  cleaned 
print(df.count())
df.isna().sum()

customer_id          1000
first_name           1000
last_name            1000
age                  1000
email                1000
gender               1000
membership_status    1000
join_date            1000
country              1000
phone_number         1000
month                1000
day                  1000
year                 1000
dtype: int64

customer_id          0
first_name           0
last_name            0
age                  0
email                0
gender               0
membership_status    0
join_date            0
country              0
phone_number         0
month                0
day                  0
year                 0
dtype: int64

# load data into text

In [12]:


# Assuming 'df' is your DataFrame
df.to_csv('customer.txt', sep='\t', index=False)