## Data manipulation at product  file (xml)

# look at data

In [68]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\abdo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.0)

In [4]:
import pandas as pd

# Prevent line wrapping
pd.set_option('display.expand_frame_repr', False)


#  correct path for XML file
file_path = r"C:\Users\Abdo\Desktop\Graduation_project\data source\Product Dimension .xml"  
df = pd.read_xml(file_path)
df.index+=1


df

      product_id                       product_name       brand     category   price  quantity_in_stock release_date expiration_date  weight dimensions
1            1.0                Cake Circle, Paprus       LiveZ          NaN  777.44                585    1/28/2009       8/13/2028    49.8     medium
2            2.0        Tomatoes - Yellow Hot House      Wikizz   home goods  819.71                679    5/25/2004        7/8/2025    57.1     medium
3            3.0                         Lotus Root     Yakitri         food  665.28                259    5/29/2009       4/10/2023    26.3        NaN
4            4.0  Wine - Pinot Noir Mondavi Coastal    Kanoodle     clothing  247.60                197    1/11/2021       3/15/2024    74.3      large
5            5.0             Beef - Roasted, Cooked     Kwilith          NaN  612.69                481    2/10/2002        3/9/2028     0.3     medium
...          ...                                ...         ...          ...     ...                ...          ...             ...     ...        ...
996        996.0                 Shrimp - 150 - 250    Jaxworks   home goods  513.85                648    5/28/2013        2/5/2025    82.2        NaN
997        997.0                        Soy Protein  Feednation  electronics  706.39                208    4/23/2014       3/31/2023    16.5      small
998        998.0                Ostrich - Prime Cut    Flipopia          NaN  406.69                992   10/10/2002       8/23/2025    44.9      small
999        999.0           Chocolate Bar - Smarties       Skyba  electronics  467.82                727    3/22/2008       8/18/2029    53.9      large
1000      1000.0                       Rice - Brown     Centizu         food  409.75                140     5/8/2021        3/9/2030    45.9      large

[1000 rows x 10 columns]

In [5]:
# show actuall number of row is include correct data 
df.count()

product_id            911
product_name         1000
brand                1000
category              838
price                1000
quantity_in_stock    1000
release_date         1000
expiration_date      1000
weight               1000
dimensions            727
dtype: int64

In [6]:
#to show number of nulls values 
df.isna().sum()

product_id            89
product_name           0
brand                  0
category             162
price                  0
quantity_in_stock      0
release_date           0
expiration_date        0
weight                 0
dimensions           273
dtype: int64

# here modify missing  colum product_id

In [7]:
import pandas as pd
import numpy as np


# Step 1: Initialize a counter
next_id = 1


# Step 2: Iterate through the DataFrame and fill NaN values
for index in df.index:  # Use df.index to get the actual index labels
    if pd.isna(df.loc[index, 'product_id']): # as df.loc[index, 'product_id'].isna()
        # Replace with the current next_id and increment
        df.loc[index, 'product_id'] = next_id
        next_id += 1  # Increment next_id only when filling NaN
    else:
        # If the current product_id is not NaN, increment the next_id to the next integer
        if df.loc[index, 'product_id'] >= next_id:
            next_id = int(df.loc[index, 'product_id']) + 1 # because here is float 

# Step 3: Convert product_id back to integer type if needed
df['product_id'] = df['product_id'].astype(int)

print("\nUpdated DataFrame with missing product_ids filled:")
df

Updated DataFrame with missing product_ids filled:

      product_id                       product_name       brand     category   price  quantity_in_stock release_date expiration_date  weight dimensions
1              1                Cake Circle, Paprus       LiveZ          NaN  777.44                585    1/28/2009       8/13/2028    49.8     medium
2              2        Tomatoes - Yellow Hot House      Wikizz   home goods  819.71                679    5/25/2004        7/8/2025    57.1     medium
3              3                         Lotus Root     Yakitri         food  665.28                259    5/29/2009       4/10/2023    26.3        NaN
4              4  Wine - Pinot Noir Mondavi Coastal    Kanoodle     clothing  247.60                197    1/11/2021       3/15/2024    74.3      large
5              5             Beef - Roasted, Cooked     Kwilith          NaN  612.69                481    2/10/2002        3/9/2028     0.3     medium
...          ...                                ...         ...          ...     ...                ...          ...             ...     ...        ...
996          996                 Shrimp - 150 - 250    Jaxworks   home goods  513.85                648    5/28/2013        2/5/2025    82.2        NaN
997          997                        Soy Protein  Feednation  electronics  706.39                208    4/23/2014       3/31/2023    16.5      small
998          998                Ostrich - Prime Cut    Flipopia          NaN  406.69                992   10/10/2002       8/23/2025    44.9      small
999          999           Chocolate Bar - Smarties       Skyba  electronics  467.82                727    3/22/2008       8/18/2029    53.9      large
1000        1000                       Rice - Brown     Centizu         food  409.75                140     5/8/2021        3/9/2030    45.9      large

[1000 rows x 10 columns]

In [8]:
df.isna().sum()

product_id             0
product_name           0
brand                  0
category             162
price                  0
quantity_in_stock      0
release_date           0
expiration_date        0
weight                 0
dimensions           273
dtype: int64

# here modify the category colum

In [9]:
import numpy as np
df['category'].unique() # to determine actual data at category colum 

choices=['home goods','food','clothing','electronics','beauty']

#check for nulls values 
unlls_nums=df['category'].isna().sum()
print(f"before cleaning: {unlls_nums}")

#clean data
unlls_num=df['category'].isna()
df.loc[unlls_num,'category']=np.random.choice(choices,size=unlls_nums)

#check for cleaning 
unlls_nums=df['category'].isna().sum()
print(f"after cleaning: {unlls_nums}")

before cleaning: 162
after cleaning: 0

In [106]:
# chech all things is done 
print(df.isna().sum())
print(df['category'].unique())
df[['category']]

product_id             0
product_name           0
brand                  0
category               0
price                  0
quantity_in_stock      0
release_date           0
expiration_date        0
weight                 0
dimensions           273
dtype: int64
['home goods' 'food' 'clothing' 'electronics' 'beauty']

         category
1      home goods
2      home goods
3            food
4        clothing
5            food
...           ...
996    home goods
997   electronics
998        beauty
999   electronics
1000         food

[1000 rows x 1 columns]

# here modify dimensions colum

In [10]:
import numpy as np
df['dimensions'].unique() # to determine actual data at category colum 

choices=['medium','large','small']

#check for nulls values 
unlls_nums=df['dimensions'].isna().sum()
print(f"before cleaning: {unlls_nums}")

#clean data
unlls_num=df['dimensions'].isna()
df.loc[unlls_num,'dimensions']=np.random.choice(choices,size=unlls_nums)

#check for cleaning 
unlls_nums=df['dimensions'].isna().sum()
print(f"after cleaning: {unlls_nums}")

before cleaning: 273
after cleaning: 0

In [11]:
# chech all things is done 
print(df.isna().sum())
print(df['dimensions'].unique())
df[['dimensions']]

product_id           0
product_name         0
brand                0
category             0
price                0
quantity_in_stock    0
release_date         0
expiration_date      0
weight               0
dimensions           0
dtype: int64
['medium' 'large' 'small']

     dimensions
1        medium
2        medium
3        medium
4         large
5        medium
...         ...
996       small
997       small
998       small
999       large
1000      large

[1000 rows x 1 columns]

# load  cleaned data

In [2]:
df.to_xml("test.xml", index=False, root_name='products', row_name='product')
print("\nDataFrame saved to test.xml")

NameError: name 'df' is not defined